In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('webserverlog.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1150 entries, 0 to 1149
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ClientIP     1150 non-null   object
 1   Status_code  1150 non-null   int64
dtypes: int64(1), object(1)
memory usage: 18.1+ KB

In [4]:
dataset.head()

         ClientIP  Status_code
0  192.168.29.137          200
1  192.168.29.137          200
2  192.168.29.137          200
3  192.168.29.137          200
4  192.168.29.137          200

In [5]:
dataset.ClientIP.value_counts()

192.168.43.108    270
192.168.43.100    230
192.168.29.101    200
192.168.43.101    130
192.168.29.137    101
192.168.43.137    100
192.168.43.85      51
192.168.43.92      50
192.168.43.1       18
Name: ClientIP, dtype: int64

In [6]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [7]:
x = dataset.iloc[:,:]

In [8]:
X = x.values

In [9]:
label = LabelEncoder()

In [10]:
ips = label.fit_transform(X[:,0])

In [11]:
s_code = label.fit_transform(X[:,1])

In [12]:
col1 = pd.DataFrame(ips, columns=["ClientIP_label"])

In [13]:
col2 = pd.DataFrame(s_code, columns=["Status_code_label"])

In [14]:
labeled_data = pd.concat([col1,col2],axis=1)

In [15]:
labeled_data.head()

   ClientIP_label  Status_code_label
0               1                  0
1               1                  0
2               1                  0
3               1                  0
4               1                  0

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
sc = StandardScaler()

In [18]:
scaled_data = sc.fit_transform(labeled_data)

In [19]:
scaled_data

array([[-1.09816715, -0.11215443],
       [-1.09816715, -0.11215443],
       [-1.09816715, -0.11215443],
       ...,
       [ 0.64135382, -0.11215443],
       [ 0.64135382, -0.11215443],
       [ 0.64135382, -0.11215443]])

In [20]:
from sklearn.cluster import KMeans

In [21]:
model = KMeans(n_clusters=12)

In [22]:
pred = model.fit_predict(scaled_data)

In [23]:
pred

array([8, 8, 8, ..., 0, 0, 0], dtype=int32)

In [24]:
scaled_data

array([[-1.09816715, -0.11215443],
       [-1.09816715, -0.11215443],
       [-1.09816715, -0.11215443],
       ...,
       [ 0.64135382, -0.11215443],
       [ 0.64135382, -0.11215443],
       [ 0.64135382, -0.11215443]])

In [25]:
scaled_data = pd.DataFrame(scaled_data, columns=["Scaled_ClientIP","Scaled_Status_code"])

In [26]:
scaled_data.head()

   Scaled_ClientIP  Scaled_Status_code
0        -1.098167           -0.112154
1        -1.098167           -0.112154
2        -1.098167           -0.112154
3        -1.098167           -0.112154
4        -1.098167           -0.112154

In [27]:
scaled_data['Cluster'] = pred

In [28]:
scaled_data.head()

   Scaled_ClientIP  Scaled_Status_code  Cluster
0        -1.098167           -0.112154        8
1        -1.098167           -0.112154        8
2        -1.098167           -0.112154        8
3        -1.098167           -0.112154        8
4        -1.098167           -0.112154        8

In [30]:
ips = pd.concat([dataset['ClientIP'],labeled_data['ClientIP_label']],axis=1)

In [33]:
ips

            ClientIP  ClientIP_label
0     192.168.29.137               1
1     192.168.29.137               1
2     192.168.29.137               1
3     192.168.29.137               1
4     192.168.29.137               1
...              ...             ...
1145  192.168.43.108               5
1146  192.168.43.108               5
1147  192.168.43.108               5
1148  192.168.43.108               5
1149  192.168.43.108               5

[1150 rows x 2 columns]

In [40]:
def countFrequency(my_list, ip_label):
    freq = {}
    for item in my_list:
        if item in freq:
            freq[item] += 1
        else:
            freq[item]=1
    max_freq = 0
    max_key = 0
    res = []
    for key,value in freq.items():
        if value > max_freq:
        
            max_freq = value
            max_key = key
            if max_freq > 200:
                res.append(ip_label[my_list.index(max_key)])
    print(freq)
    return res

In [41]:
res = countFrequency(ips['ClientIP_label'].tolist(),ips['ClientIP'].tolist())

{1: 101, 0: 200, 6: 100, 4: 130, 7: 51, 8: 50, 3: 230, 2: 18, 5: 270}

In [38]:
res

['192.168.43.100', '192.168.43.108']

In [39]:
freq

NameError: name 'freq' is not defined

In [50]:
ls = ips['ClientIP_label'].tolist()

In [47]:
ips['ClientIP_label'].unique()

array([1, 0, 6, 4, 7, 8, 3, 2, 5])